.mobile__nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  z-index: 5;
  & {
    position: absolute;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    transform: scale(1);
    transition: transform 250ms linear;
    width: 100vw;
    height: 100vh;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: -32px;
  }
  @media screen and (min-width: 430px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.menu {
  &__item {
    margin-top: 32px;
  }
}
.contacts {
  &__item {
    margin-bottom: 32px;
  }
}
.menu {
  &__open {
    border: none;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
  }
}
.menu {
  &__link {
    font-size: 40px;
    line-height: 1.175;
  }
  &__tell {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }
  &__mail {
    font-size: 24px;
    line-height: 1.166;
    color: var(--title-text-color);
  }
  &__social {
    display: flex;
    margin-top: 64px;
  }
}
.social {
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    color: var(--accent-color);
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &__item:not(:first-child) {
    padding-left: 10px;
  }
}
@media screen and (min-width: 767px) {
  .mobil {
    display: none;
  }
}

.menu {
  &__close:hover,
  &__close:focus,
  &__link:hover,
  &__link:focus,
  &__open:hover,
  &__open:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
