.principles {
  &__list {
    @extend %justify;
  }
  &__info:not(:last-child) {
    margin-right: 30px;
  }
  &__icon--decor {
    @extend %flex-align;
    background: var(--grey-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    justify-content: center;
  }
  &__subtitle {
    color: inherit;
    font-weight: bold;
    line-height: 1.142;
    text-transform: uppercase;
  }
  &__text {
    color: var(--title-text-color);
    font-weight: normal;
    line-height: 1.714;
    padding-top: 10px;
  }
  &__subtitle,
  &__text {
    width: 270px;
    letter-spacing: 0.03em;
    font-size: 14px;
    @extend %inherit;
  }
}
