%flex-align {
  display: flex;
  align-items: center;
}
%justify {
  display: flex;
  justify-content: center;
}
%padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
%text {
  color: inherit;
  font-family: inherit;
  font-style: normal;
}
%inherit {
  font-family: inherit;
  font-style: normal;
}
